[Unit]
Description=Détecte les changements d'état des machines dans le fichier bdd et le corrige si besoin toutes les minutes
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/verif_ping
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

